.preloader {
  min-height: 100%;

  color: red;
  font-size: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(5px);


  &__bar {
    background-color: #69c98c;
    font-size: 0;
    height: 6px;
    border-radius: 3px;
    opacity: 0;
    width: 35px;
    margin: 0 4px;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: subtleIn;
    animation-timing-function: ease-in-out;
    display: inline-block;
  }

  &__bar:nth-child(1) {
    animation-delay: 0s;
  }

  &__bar:nth-child(2) {
    background-color: #1abc9c;
    animation-delay: 0.3s;
  }

  &__bar:nth-child(3) {
    background-color: #1ab4bc;
    animation-delay: 0.6s;
  }

  &__bar:nth-child(4) {
    background-color: #1aa1bc;
    animation-delay: 0.9s;
  }

  &__bar:nth-child(5) {
    background-color: #1a7ebc;
    animation-delay: 1.2s;
  }

}


@keyframes subtleIn {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }

  30% {
    opacity: 1;
    transform: translateY(0);
  }
}
